.navbar {
    height: 70px;
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;
}

.navbar__logo {
    text-decoration: none;
    color: var(--black);
}

.navbar__img {
    height: 40px;
    width: auto;
}

.navbar__icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    list-style: none
}

.navbar__link {
    text-decoration: none;
    color: var(--black);
    padding: 5px;
    transition: .5s all;
}

.navbar__link:hover {
    background-color: var(--orange);
    color: var(--black);
    border-radius: 6px;
}

@media only screen and (max-width: 500px) {
    .navbar {
        position: relative;
    }

    .navbar__ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50px;
        left: -100%;
        transition: 0.7s all;
    }

    .navbar__ul.active {
        background: var(--orange);
        left: 0;
    }

    .navbar__item {
        padding: 10px 0;
    }

    .navbar__icon {
        display: flex;
    }
}


